/* Upload Box */
.upload-box-wrapper {
  margin-top: 20px;
}

.upload-box-al {
  margin-bottom: 10px;
  height: 160px;
  border: 2px dashed #ccc;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}

.upload-box-al:hover {
  border-color: #8b0000;
  background-color: #fafafa;
  transform: scale(1.02);
}

.file-name {
  font-family: 'DM Sans', sans-serif;
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}

/* Modal trigger */
.modal-trigger {
  margin-top: 40px;
  text-align: center;
}

.modern-link-btn {
  background: none;
  border: none;
  color: #0c6fd9;
  font-weight: 600;
  cursor: pointer;
}

.modern-link-btn:hover {
  transform: scale(1.1);
}