.vscode
backups/*
Back-End/src/yarn.lock
Back-End/src/dist
Back-End/src/coverage
Back-End/coverage
Back-End/data_cache/
shared/dist
front-end/yarn.lock
package-lock.json
**/.env
myenv/
secrets
TrackMyDegree.code-workspace
.DS_Store
.scannerwork
node_modules/
Back-End/python_utils/**/__pycache__/
Back-End/python_utils/**/.pytest_cache/
Back-End/python_utils/venv/
Back-End/python_utils/**/.coverage
Back-End/python_utils/**/coverage.*
Back-End/coverage
Back-End/dist