.vscode/*
Back-End/node_modules/*
backups/*
Back-End/yarn.lock
Back-End/dist
Back-End/coverage/**
front-end/yarn.lock
package-lock.json
node_modules
**/.env
myenv/
.gitignore
entrypoint-sql.sh
secrets/sql_server_password.txt