### Application Configuration
NODE_ENV             = production
CLIENT               = https://yourdomain.com
FRONTEND_URL         = https://yourdomain.com/
BACKEND_PORT         = 8000
BACKUP_DIR           = /app/backups
###

### Redis Configuration
REDIS_HOST           = redis
REDIS_PORT           = 6379
REDIS_URL            = redis://redis:6379
REDIS_CACHE_URL      = redis://redis:6379/0
REDIS_JOB_URL        = redis://redis:6379/1
###

### MongoDB Configuration
MONGODB_URI          = mongodb://admin:<mongo-password>@mongodb:27017/trackmydegree?authSource=admin
###

### Python Utils Configuration
PYTHON_UTILS_URL     = http://python-utils:15001
###

### SMTP Configuration
# Use (https://developers.google.com/oauthplayground) to generate SMTP_REFRESH_TOKEN
EMAIL_USER           = 
SMTP_CLIENT_ID       = 
SMTP_CLIENT_SECRET   = 
SMTP_REFRESH_TOKEN   = 
###

### JWT & Session Configuration
JWT_SECRET           = 
JWT_ACCESS_EXPIRY    = 1h
JWT_REFRESH_EXPIRY   = 7d
JWT_ORG_ID           = yourdomain.com
SESSION_ALGO         = aes-256-gcm
COOKIE_DOMAIN        = yourdomain.com
###

### Sentry Configuration
SENTRY_DSN           = 
###