NODE_ENV=production
CLIENT=https://yourdomain.com
FRONTEND_URL=https://yourdomain.com/
BACKEND_PORT=8000
BACKUP_DIR=/var/backups
REDIS_URL=redis://redis:6379
MONGODB_URI=mongo://admin:password@localhost:27017/trackmydegree?authSource=admin
EMAIL_USER=admin@yourdomain.com
SMTP_CLIENT_ID=client-id
SMTP_CLIENT_SECRET=client-secret
SMTP_REFRESH_TOKEN=long-lived-refresh-token
JWT_SECRET=verylongjwtsecret
JWT_ACCESS_EXPIRY=1h
JWT_REFRESH_EXPIRY=7d
JWT_ORG_ID=yourdomain.com
SESSION_ALGO=aes-256-gcm
COOKIE_DOMAIN=yourdomain.com
CONCORDIA_API_USER=123
CONCORDIA_API_KEY=ConcordiaAPIPassword123
SENTRY_DSN=https://sentry.io