version: '3.8'

services:

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      # Should look into using secrets for sensitive info like passwords
      # See: https://docs.docker.com/compose/how-tos/use-secrets/
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=changeme123
      - MONGO_INITDB_DATABASE=trackmydegree
    volumes:
      - mongodb-data:/data/db
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: my-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis-data:
  mongodb-data:
