version: "3.8"

services:

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    env_file:
      - ./secrets/.env
    volumes:
      - mongodb-data:/data/db
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: my-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis-data:
  mongodb-data:
