version: "3.8"

services:

  python_utils:
    build:
      context: ./Back-End/python_utils
      dockerfile: Dockerfile
    container_name: python_utils_service
    volumes:
      - python-utils-data:/app/data
    ports:
      - "15001:15001"
    env_file:
      - ./secrets/.env
    networks:
      - app-network

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    env_file:
      - ./secrets/.env
    volumes:
      - mongodb-data:/data/db
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: my-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis-data:
  mongodb-data:
  python-utils-data: