# Traefik Domain Configuration
DOMAIN=yourdomain.com

# The following options are not required if Watchtower is not deployed
# Watchtower Configuration
TZ=EST
# See https://watchtower.nickfedor.com/v1.14.3/notifications/overview/ for more details on notification options 
WATCHTOWER_NOTIFICATIONS=
WATCHTOWER_NOTIFICATION_URL=