# Metadata
DegreeID=INDU
DegreeName=BEng Industrial Engineering
TotalCredits=120

[Engineering Core (24 credits)]
ENCS 282
ENGR 201
ENGR 202
ENGR 213
ENGR 233
ENGR 301
ENGR 371
ENGR 391
ENGR 392

[Industrial Engineering Core (81 credits)]
ENGR 245 
ENGR 251 
ENGR 311 
INDU 211 
INDU 311 
INDU 320 
INDU 321 
INDU 323 
INDU 324 
INDU 330 
INDU 342
INDU 371 
INDU 372 
INDU 411 
INDU 412 
INDU 421 
INDU 423 
INDU 490 
MIAE 211
MIAE 215 
MIAE 221 
MIAE 311
MIAE 312
MIAE 313 
MIAE 380

[Industrial Engineering Electives (12 credits)]
INDU 410 
INDU 424 
INDU 431
INDU 441
INDU 466
INDU 475
INDU 480 
INDU 498 
ENGR 411 
ENGR 412 
MANA 300

[General Education Humanities and Social Sciences Electives (3 credits)]
ACCO 220