# Metadata
DegreeID=AERO
DegreeName=BEng Aerospace Engineering
TotalCredits=120

[Engineering Core (27 credits)]
ELEC 275
ENCS 282
ENGR 201
ENGR 202
ENGR 213
ENGR 233
ENGR 301
ENGR 371
ENGR 391
ENGR 392
General Education Elective

[Aerospace Engineering Core (38.25 credits)]
AERO 201 
AERO 290 
AERO 371
AERO 390 
AERO 417
AERO 490 
ENGR 242 
ENGR 243 
ENGR 244 
ENGR 251
ENGR 361

#Aerospace Engineering Electives (54.75 credits)
[Option A Aerodynamics and Propulsion Core (50.25 credits)]
AERO 446 
AERO 455 
AERO 462 
AERO 464 
AERO 465 
AERO 481 
ENGR 311 
MECH 343 
MECH 351 
MECH 352 
MECH 361 
MECH 461 
MIAE 211 
MIAE 215 
MIAE 221

[Option A Aerodynamics and Propulsion Electives (4.5 credits)]
AERO 431
AERO 471 
AERO 472
AERO 480
AERO 482
AERO 485
AERO 486 
ENGR 411
ENGR 412 
INDU 372 
INDU 412
MECH 368 
MECH 373 
MECH 375
MECH 426 
MECH 452
MECH 453
MECH 460 
MECH 498

[Option B Aerospace Structures and Materials Core (54.75 credits)]
AERO 431 
AERO 481
AERO 486
AERO 487
ENGR 311
MECH 343
MECH 352
MECH 373
MECH 375
MECH 412
MECH 460
MIAE 211 
MIAE 215
MIAE 221
MIAE 311 
MIAE 312 
MIAE 313 

[Option C Avionics and Aerospace Systems Core (46.5 credits)]
AERO 482
AERO 483 
COEN 212
COEN 231
COEN 243
COEN 244
COEN 311
COEN 352
ELEC 242
ELEC 273
ELEC 342
ELEC 481 
ELEC 483
SOEN 341
    
[Option C Avionics and Aerospace Systems Electives (8.25 credits)]
AERO 471 
AERO 472 
AERO 480 
COEN 313 
COEN 317 
COEN 320 
COEN 346 
COEN 366
COEN 413 
COEN 421 
COEN 498 
ELEC 251 
ELEC 311
ELEC 331 
ELEC 351 
ELEC 367 
ELEC 433
ELEC 442
ELEC 458
ELEC 464
ELEC 482
ELEC 498
ENGR 411
SOEN 342 
SOEN 343
