# Metadata
DegreeID=BCEE
DegreeName=BEng Building Engineering
TotalCredits=120

[Engineering Core (29 credits)]
ELEC 275
ENCS 282
ENGR 201
ENGR 202
ENGR 213
ENGR 233
ENGR 301
ENGR 371
ENGR 391
ENGR 392
General Education Elective

[Building Engineering Core (75.5 credits)]
BCEE 231 
BCEE 342 
BCEE 344 
BCEE 345 
BCEE 371 
BCEE 432 
BCEE 451 
BLDG 212 
BLDG 365 
BLDG 371 
BLDG 390 
BLDG 463 
BLDG 471 
BLDG 476
BLDG 490 
CIVI 321 
ENGR 242 
ENGR 243 
ENGR 244 
ENGR 251 
ENGR 311 
ENGR 361

#Building Engineering Electives (15.5 credits)
[Option A Building Energy and Environment Electives (15.5 credits)]
BLDG 366 
BLDG 465 
BLDG 472 
BLDG 473
BLDG 474
BLDG 475
BLDG 477 
BLDG 479 
BLDG 483 
BLDG 484 
BLDG 498 
ENGR 411 
ENGR 412 

[Option B Building Structures and Construction Electives (15.5 credits)]
BCEE 343 
BCEE 455
BCEE 478 
BCEE 492 
BLDG 462
BLDG 480 
BLDG 481
BLDG 498
CIVI 435
CIVI 453
CIVI 454
ENGR 411
ENGR 412
