.course-list-accordion {
  --bs-accordion-active-bg: #912338;
  --bs-accordion-active-color: white;
  margin-bottom: 10px;
  width: 100%;
}

.course-list-div {
  margin: 20px 0 50px 50px;
}

.course-list-dropdown-toggle {
  background-color: #912338 !important;
  color: white;
  border-color: transparent !important;
}

.cursor-pointer {
  cursor: pointer;
}


.course-display-card {
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 10px;
  margin-right: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-list-container-timeline {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 1rem;
}

.course-list-container {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  /* 4 cards per line */
  gap: 1rem;
}

.course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 175px;
  /* Reduced height by 30% */
  height: 100%;
  /* Ensures cards stretch to fit content */
  width: 100%;
  /* Ensures each card takes up the full width of the grid cell */
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.course-list-card-body {
  text-align: center;
  padding: 15px 0 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}