.landing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.Typewriter {
  text-align: center;
  padding-top: 10px;
}

.Typewriter__wrapper {
  font-size: 45px;
  font-weight: bold;
}

.Typewriter__cursor {
  font-size: 45px;
}

.try-now-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;
  align-items: center;
}

.popup-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  background-color: rgb(250, 248, 249);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .Typewriter__wrapper {
    font-size: 30px;
  }

  .Typewriter__cursor {
    font-size: 30px;
  }
}
