# Metadata
DegreeID=SOEN-BEng
DegreeName=Bachelor of Engineering in Software Engineering
TotalCredits=120

[Engineering Core (30.5 credits)]
ELEC 275
ENCS 282
ENGR 201
ENGR 202
ENGR 213
ENGR 233
ENGR 301
ENGR 371
ENGR 391
COMP 361
ENGR 392
General Education Elective

[Software Engineering Core (47.5 credits)]
SOEN 228
SOEN 287
SOEN 321
SOEN 331
SOEN 341
SOEN 342
SOEN 343
SOEN 345
SOEN 357
SOEN 363
SOEN 384
SOEN 390
SOEN 490

[Computer Science Group (23 credits)]
COMP 232
COMP 248
COMP 249
COMP 335
COMP 346
COMP 348
COMP 352

[Engineering and Natural Science Group (3 credits)]
ENGR 245
MIAE 221

[Software Engineering Electives (16 credits)]

AERO 480
AERO 482
COEN 320
COMP 333
COMP 339
COMP 345
COMP 371
COMP 376
COMP 425
COMP 426
COMP 428
COMP 432
COMP 433
COMP 438
COMP 442
COMP 444
COMP 445
COMP 451
COMP 465
COMP 472
COMP 473
COMP 474
COMP 475
COMP 476
COMP 477
COMP 478
COMP 479
COMP 498
COMP 499
SOEN 298
SOEN 344
SOEN 387
SOEN 422
SOEN 423
SOEN 448
SOEN 471
SOEN 487
SOEN 491
SOEN 498
SOEN 499
ENGR 411