# Metadata
DegreeID=ELEC-BEng
DegreeName=Bachelor of Engineering in Electrical Engineering
TotalCredits=120

[Engineering Core (30.5 credits)]
ELEC 275
ENCS 282
ENGR 201
ENGR 202
ENGR 213
ENGR 233
ENGR 301
ENGR 371
ENGR 391
ENGR 392
General Education Elective

[Electrical Engineering Core (72.5 credits)]
COEN 212 
COEN 231 
COEN 243 
COEN 244 
COEN 311 
COEN 313 
COEN 352 
ELEC 242 
ELEC 251 
ELEC 311
ELEC 312
ELEC 321 
ELEC 331 
ELEC 342 
ELEC 351 
ELEC 366 
ELEC 367 
ELEC 372 
ELEC 390 
ELEC 490 
ENGR 290 

[Electrical Engineering Electives (17 credits)]
COEN 446 
COEN 447 
ELEC 442 
ELEC 447
ELEC 464
ELEC 465
ELEC 466 
ELEC 470
ELEC 472
COEN 314 
COEN 414 
COEN 451 
ELEC 413 
ELEC 421 
ELEC 422
ELEC 423 
ELEC 424 
ELEC 425 
ELEC 441
ELEC 430 
ELEC 431
ELEC 432 
ELEC 433 
ELEC 434 
ELEC 435 
ELEC 436
ELEC 437 
ELEC 438 
ELEC 439 
ELEC 440 
ELEC 443 
ELEC 446
AERO 417 
AERO 480 
AERO 482
AERO 483 
COEN 422
ELEC 473 
ELEC 481 
ELEC 482
ELEC 483
ENGR 472
ELEC 453 
ELEC 455 
ELEC 456 
ELEC 457 
ELEC 458 
COEN 316 
COEN 317 
COEN 320 
COEN 346 
COEN 413 
COEN 421 
COEN 424 
COEN 448 
SOEN 341 
COEN 432 
COEN 433
COEN 434
ELEC 444
ELEC 445
ELEC 498 
ENGR 411
