.landing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.Typewriter {
  text-align: center;
  padding-top: 10px;
}

.Typewriter__wrapper {
  font-size: 45px;
  font-weight: bold;
}

.Typewriter__cursor {
  font-size: 45px;
}

.try-now-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;
  align-items: center;
}

.popup-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  background-color: rgb(250, 248, 249);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup{
  border-radius: 10px;
  border: 0;
  padding: 15%;
  box-shadow: rgba(0, 0, 0, 1);
  text-align: center;
}

.popup h2{
  font-size: 25px;
  font-weight: 500;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.popup p{
  text-align: justify;
  text-justify: auto; 
}

.popup-container .popup .popup-button{
  background-color: #912338;
  color: white;
  padding: 3px; 
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .Typewriter__wrapper {
    font-size: 30px;
  }

  .Typewriter__cursor {
    font-size: 30px;
  }
}
