/* App.css */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%; /* This makes the html and body elements take up the full height of the viewport */
  margin: 0; /* Remove default margin to prevent unwanted space around the body */
}

.App {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  flex: 1;
}

/* Footer stays at the bottom */
footer {
  margin-top: auto; /* This pushes the footer to the bottom of the page */
}

/* Show scrollbar thumb only while scrolling */
.course-list:hover::-webkit-scrollbar-thumb,
.semesters:hover::-webkit-scrollbar-thumb,
.course-list:active::-webkit-scrollbar-thumb,
.semesters:active::-webkit-scrollbar-thumb,
.description-space:hover::-webkit-scrollbar-thumb,
.description-space:active::-webkit-scrollbar-thumb {
  opacity: 1;
}

/* Reserve space for the scrollbar */
.course-list,
.semesters,
.description-space {
  scrollbar-gutter: stable;
}

/* Customize scrollbar track and thumb */
.course-list::-webkit-scrollbar,
.semesters::-webkit-scrollbar,
.description-space::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Make scrollbar thumb rounded with a transparent background on track */
.course-list::-webkit-scrollbar-thumb,
.semesters::-webkit-scrollbar-thumb,
.description-space::-webkit-scrollbar-thumb {
  background-color: rgba(145, 35, 56, 0.8); /* Dark red color */
  border-radius: 10px; /* Fully round the ends of the scrollbar */
  opacity: 0; /* Start hidden */
  transition: opacity 0.3s ease;
}

.course-list::-webkit-scrollbar-track,
.semesters::-webkit-scrollbar-track,
.description-space::-webkit-scrollbar-track {
  border-radius: 10px; /* Fully round the ends of the scrollbar */
  background-color: rgba(
    145,
    35,
    56,
    0.1
  ); /* Transparent background for track */
}
