name: System Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.21'

      - name: Install dependencies for frontend
        working-directory: ./ts-front-end
        run: |
          npm install

      - name: Run ESLint for frontend
        working-directory: ./ts-front-end
        run: |
          npm run lint -- --quiet

      - name: Run frontend tests with coverage
        working-directory: ./ts-front-end
        env:
          # Setting CI to false to avoid treating warnings as errors
          CI: false
        run: |
          npm run build
          npm test -- --coverage --silent

      - name: Upload frontend coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-coverage
          path: ts-front-end/coverage

  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.21'

      - name: Install dependencies for backend
        working-directory: ./Back-End/src
        run: |
          npm install

      - name: Run ESLint for backend
        working-directory: ./Back-End/src
        run: |
          npm run lint -- --quiet

      - name: Run backend tests with coverage
        working-directory: ./Back-End/src
        run: |
          npm run build
          npm test -- --coverage --silent
      
      - name: Upload backend coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-coverage
          path: Back-End/src/coverage

  python-utils:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run python_utils tests with coverage
        working-directory: Back-End/python_utils
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt
          coverage run -m pytest
          coverage xml -o coverage.xml
          deactivate
      
      - name: Upload python_utils coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-utils-coverage
          path: Back-End/python_utils/coverage.xml
  
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.21'

      - name: Install dependencies for backend
        working-directory: ./Back-End/src
        run: |
          npm install

      - name: Run integration tests
        working-directory: ./Back-End/src
        run: |
          npm run test:integration

  sonarcloud:
    needs: [frontend, backend, python-utils]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download coverage artifacts (frontend)
        uses: actions/download-artifact@v4
        with:
          name: frontend-coverage
          path: ts-front-end/coverage

      - name: Download backend coverage artifact (backend)
        uses: actions/download-artifact@v4
        with:
          name: backend-coverage
          path: Back-End/src/coverage

      - name: Download python-utils coverage artifact (python-utils)
        uses: actions/download-artifact@v4
        with:
          name: python-utils-coverage
          path: Back-End/python_utils

      - name: Run SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  
  #This jobs set up a docker image and push to GitHub Container Registry (GHCR)
  publish-ghcr:
    runs-on: ubuntu-latest
    needs: [sonarcloud]    # only run if tests pass
    if: ${{ github.ref == 'refs/heads/main' }}  # publish only on main branch
    permissions:
      # Already have read access to contents
      packages: write

    strategy: #Images of both front-end and back-end are built and pushed to GHCR
      matrix:
        include:
          - name: backend
            context: .
            dockerfile: ./Back-End/Dockerfile
            image: trackmydegree-backend
          - name: frontend
            context: .
            dockerfile: ./ts-front-end/Dockerfile
            image: trackmydegree-frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate version tags
        id: version
        run: |
          DATE_TAG=$(TZ='America/New_York' date +%Y%m%d)
          SHORT_SHA=$(git rev-parse --short HEAD)
          VERSION_TAG="${DATE_TAG}-${SHORT_SHA}"
          # Set OWNER to lowercase
          REPO_OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          LATEST_TAG=${{ env.REGISTRY }}/${REPO_OWNER}/${{ matrix.image }}:latest
          VERSIONED_TAG=${{ env.REGISTRY }}/${REPO_OWNER}/${{ matrix.image }}:${VERSION_TAG}

          echo "latest_tag=${LATEST_TAG}" >> $GITHUB_OUTPUT
          echo "versioned_tag=${VERSIONED_TAG}" >> $GITHUB_OUTPUT
          echo "version_tag=${VERSION_TAG}" >> $GITHUB_OUTPUT
          

      - name: Build and Push ${{ matrix.name }} Image
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: true
          tags: |
            ${{ steps.version.outputs.latest_tag }}
            ${{ steps.version.outputs.versioned_tag }}
          build-args: |
            VITE_DEPLOYMENT_VERSION=${{ steps.version.outputs.version_tag }}